@model Hovedopgave.Models.Station

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationX" class="control-label"></label>
                <input asp-for="LocationX" class="form-control" />
                <span asp-validation-for="LocationX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationY" class="control-label"></label>
                <input asp-for="LocationY" class="form-control" />
                <span asp-validation-for="LocationY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button accesskey="$0" class="btn btn-secondary" onclick="window.location.href = '/Stations/Index'">Back to List</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
