@model Hovedopgave.Models.Ticket

@{
    ViewData["Title"] = "Edit Ticket";
}

<h1>Rediger Sag</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control">
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>

                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="SelectedUserIds" class="control-label">Assigned Users</label>
                <select asp-for="SelectedUserIds" class="form-control" asp-items="ViewBag.Users" multiple="multiple"></select>
                <span asp-validation-for="SelectedUserIds" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-bottom: 5px; margin-top: 5px">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action=@ViewBag.Return>Tilbage til liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
